body {
  background-color: whitesmoke;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  background-color: #0fa36b;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
}

.main-content {
  margin: 50px 150px;
  font-size: 20px;
  text-align: center;
}